* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: "Inter", sans-serif;
}

:root {

    --cor-primaria: #1D2123;
    /**/
    --cor-secundaria: #1A1E1F;
    /**/
    --cor-terciárias: #6C63FF;
    /**/
    --cor-quaternárias: #00FF6F;
    /**/

    --cor-fundo: #ffffff;

    --cor-fundo1: #1448E6;
    /**/
    --cor-fundo2: #3478F7;
    /**/
    --cor-fundo3: #020618;
    /*Fundo principal*/
    --cor-fundo4: #0F172B;
    /*Fundo do painel*/
    --cor-fundo5: #1D293D;
    /**/
    --cor-fundo6: #164EE9;
    /**/
    --cor-fundo7: #343745;
    /* Fundo tabela & chat */
    --cor-fundo8: #191C2D;
    /* Fundo tabela2 & chat hover */

    --cor-fundo9: #ffffff;
    --cor-fundo10: #EEEEF9;
    --cor-fundo11: #f5f5f5;

    --painel: linear-gradient(to right, #F8F8FC, #ECECF8);

    --cor-loja: linear-gradient(to right, #155CFB, #193DBC);

    --cor-loja2: linear-gradient(to top, #0353ff, #0b1a50);

    --cor-loja3: #4618ac;
    /* --cor-loja3: linear-gradient(to right, #155CFB, #193DBC); */

    --cor-loja4: #341281;

    --cor-card: #123A8C;
    --cor-card1: #ffffff;

    --cor-borda: #ECECF0;
    --cor-borda2: #2069FF;
    --cor-borda3: #341281;

    --cor-tabela1: #ffffff15;
    --cor-tabela2: #ffffff10;

    --cor-texto1: #FFFFFF;
    /*Branco mesmo*/
    --cor-texto2: #000000;
    /* Preto mesmo */
    --cor-vermelho: #E7000B;
    /*Sair*/
    --cor-vermelho-escuro: #C10007;
    /*Sair com hover*/
    --cor-laranja: #FF8904;
    /*Cor da núvem*/
    --cor-laranja2: #b46102;
    /*Cor da núvem com hover*/
    --amarelo: #FAD318;
    /*  */
    --amarelo2: #F0A613;

    --cor-alternativo: #E8F0FE;
    /**/

    --cor-btn1: #25d366;
    /*Botão com hover*/
    --cor-btn2: #5F58D9;
    /*Botão normal*/
    --cor-btn3: #1D293D;
    /**/

    --cor-borda1: #1D293D;
    /*Bordas principais*/
    --cor-borda2: #337AFB;
    /*Bordas secundárias*/

    --carrinho: #303342;
    --carrinho1: #393E50;
    --carrinho2: #13141A;
}

/* ======================= */
/*        TEMA CLARO       */
/* ======================= */

html[data-theme="light"] {
    --cor-fundo1: #ffffff;
    --cor-fundo2: #f5f5f5;
    --cor-fundo3: #E8F0FE;
    --cor-fundo4: #fff;
    --cor-fundo5: #e9e9e9;
    --cor-fundo6: #d8d8d8;

    --cor-texto1: #000;

    --cor-borda1: #00000010;
    --cor-borda2: #6a11cb;

    --cor-vermelho: #e74c3c;
    --cor-vermelho-escuro: #c0392b;

    --cor-laranja: #ff7b00;
}