/* ===== Reset e Background ===== */
body {
    background-color: var(--cor-fundo9);
    /* background: var(--cor-loja3); */
    /* background-color: var(--cor-fundo); */
    /* background: var(--cor-loja2); */
    /* background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed; */
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll suave */
}

#fecharMenuMobile {
    display: none;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
    /* transição para hover */
}

/* ===== NAV ===== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    padding: 20px;
    background-color: transparent;
    /* background: var(--cor-loja4); */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.scrolled {
        background-color: var(--cor-loja4);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    }

    &.scrolled label {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    span {
        color: var(--cor-texto1);
        font-size: 30px;
        font-weight: 1000;

        span {
            color: var(--cor-fundo2);
        }
    }

    label {
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;

        width: 600px;
        padding: 15px;
        color: var(--cor-texto2);
        background-color: var(--cor-texto1);
        border: 2px solid transparent;
        border-radius: 20px;

        &:hover {
            box-shadow: rgba(70, 24, 172, 1) 0px 8px 24px;
        }

        &:focus-within {
            border: 2px solid var(--cor-borda2);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            i {
                color: var(--cor-borda2);
            }
        }

        span {
            color: var(--cor-texto1);
        }

        i {
            cursor: pointer;
        }

        input {
            width: 85%;
            margin: 0px 10px;
            color: var(--cor-texto2);
            border: none;
            outline: none;
        }

        button {
            border: none;
            background-color: transparent;
            color: var(--cor-texto2);
        }
    }

    .icons-menu {
        display: flex;
        align-items: center;

        .bag-area,
        .menu-mobile {
            position: relative;
            display: inline-block;
            color: var(--cor-texto1);
            font-size: 25px;
            margin: 0px 20px;

            &:hover {
                cursor: pointer;
                color: var(--cor-borda);
            }
        }

        img {
            width: 30px;
            border-radius: 50%;
        }

        .menu-mobile {
            display: none;
        }

        #contadorCarrinho {
            position: absolute;
            top: -8px;
            right: -8px;
            background: red;
            color: white;
            border-radius: 50%;
            padding: 2px 7px;
            font-size: 12px;
            font-weight: bold;

            &.pop {
                animation: pop .3s ease;
            }
        }
    }
}


/* ===== MENU LATERAL ===== */
.esquerda {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 250px;
    max-width: 300px;
    padding: 10px;
    height: 100vh;
    background: var(--cor-loja4);

    .menu-left {
        color: var(--cor-texto1);

        .info-client {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 120px 0px 30px 0px;

            img {
                width: 30%;
                border-radius: 50%;
                margin-bottom: 15px;
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                font-size: 16px;
                cursor: pointer;
                position: relative;
                list-style: none;
                padding: 15px 0;
                border-radius: 5px;

                &:hover {
                    background: var(--cor-loja3);
                }

                i {
                    margin-right: 10px;
                }

                details {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    width: 100%;

                    summary {
                        display: flex;
                        width: 100%;
                        cursor: pointer;
                        list-style: none;
                        color: #fff;

                        span {
                            display: block;
                            backdrop-filter: blur(6px);
                            color: #fff;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                    }

                    &[open]>summary {
                        border-left: 2px solid var(--cor-texto1);

                        i {
                            margin-left: 10px;
                        }
                    }

                    &[open] span {
                        width: 100%;
                    }

                    .list-deitails {
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0px;
                        padding: 15px;

                        span {
                            padding: 10px 10px;
                            border-left: 2px solid var(--cor-texto1);

                            &:hover {
                                color: var(--cor-borda2);
                                border-radius: 0px 5px 5px 0px;
                                background-color: var(--cor-loja3);
                            }
                        }
                    }

                    &::-webkit-details-marker {
                        display: none;
                    }
                }
            }
        }
    }

    @keyframes drop {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* ===== CARRINHO ===== */
#carrinho {
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 9999;
    width: 350px;
    height: 100vh;
    background: var(--cor-secundaria);
    color: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: .4s;

    h2 {
        margin-bottom: 10px;
    }

    &.aberto {
        right: 0;
    }

    #lista-carrinho p {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid var(--cor-btn2);
    }

    #lista-carrinho button {
        background: red;
        color: white;
        border: none;
        padding: 4px 7px;
        cursor: pointer;
    }

    .btn-finalizar {
        background: var(--cor-borda2);
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
        margin-top: 15px;

        &:hover {
            background-color: var(--cor-card);
        }
    }
}

/* ===== HEADER ===== */
header {
    margin: 0rem 0px 0px 0px;
    /* margin-bottom: -5rem; */
    /* box-shadow: rgba(7, 7, 7, 0.932) 0px 8px 24px; */
    /* width: 100%; */
    /* position: relative; */

    height: 800px;
    overflow: hidden;

    .carrossel-track {
        display: flex;
        transition: transform 0.5s ease-in-out;

        img {
            /* width: 2000px; */
            width: 100%;
            /* height: 800px; */
            object-fit: cover;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        /* background: linear-gradient(to bottom, black 0%, transparent 100%); */
        pointer-events: none;
    }
}

/* ===== MAIN ===== */
main {
    /* position: relative;
    top: -100px;
    width: 100%;
    border-radius: 30px 30px 0 0; */
    color: var(--cor-texto2);
    background-color: var(--cor-fundo9);

    .produtos,
    .lojas {
        margin: 0rem 400px;
        padding: 10px 0px;
    }

    .produtos {
        overflow: visible;

        h1 {
            padding: 40px 0px;
        }

        header {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: 480px;
                border-radius: 15px;
                object-fit: cover;
            }
        }

        .lista-produtos {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            .card {
                width: 250px;
                height: 400px;
                border-radius: 5px;
                border: 1px solid var(--cor-borda);
                background: var(--cor-card1);
                color: var(--cor-texto2);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                transition: all 0.3s ease;

                /* &:hover {
                    box-shadow: #a1a1a1 0px 3px 8px;
                } */

                img {
                    width: 100%;
                    min-height: 250px;
                    max-height: 250px;

                    border-radius: 5px 5px 0px 0px;
                    background-color: var(--cor-card1);
                    object-fit: cover;
                }

                .btn-comprar {
                    padding: 10px;
                    margin: 15px;
                    border: none;
                    border-radius: 5px;
                    background: var(--amarelo);
                    color: var(--cor-texto2);
                    font-size: 16px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .btn-comprar:hover {
                    background: var(--amarelo2);
                }
            }
        }
    }

    .lojas {
        display: flex;
        flex-direction: column;

        .lista-lojas {
            display: flex;
            flex-wrap: wrap;

            gap: 10px;

            .card-loja {
                width: 300px;
                padding: 10px;
                margin: 40px 0px;

                display: flex;
                align-items: center;

                border-radius: 5px;
                border: 1px solid var(--cor-borda);
                background: var(--cor-loja4);
                color: var(--cor-texto2);

                background-color: var(--cor-card1);
                transition: all 0.3s ease;

                word-break: break-all;

                img {
                    min-width: 100px;
                    min-height: 100px;
                    max-width: 100px;
                    max-height: 100px;

                    margin-right: 15px;
                    border-radius: 100%;
                }
            }
        }
    }
}

/* ===== FOOTER ===== */
footer {
    color: var(--cor-texto2);
    padding: 20px 40px;
    background: var(--cor-borda);
}

/* ===== ANIMAÇÕES ===== */
@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* ===== MEDIA QUERY MOBILE ===== */
@media screen and (max-width: 600px) {

    /* ===== BODY ===== */
    body {
        background: var(--cor-loja3);
    }

    html,
    body {
        min-height: 100%;
        height: auto;
        scroll-behavior: smooth;
    }

    /* ===== NAV ===== */
    nav {
        padding: 15px 20px;
        background-color: transparent;

        &.scrolled {
            background-color: var(--cor-loja4);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        }

        label {
            display: none;
            /* Search escondido no mobile */
            width: 100%;
        }

        .icons-menu {

            .bag-area,
            .menu-mobile {
                margin: 0 10px;
                font-size: 22px;
            }

            #contadorCarrinho {
                top: 0px;
                right: 0px;
                padding: 2px 6px;
                font-size: 11px;
            }
        }
    }

    /* ===== MENU LATERAL MOBILE ===== */
    .esquerda {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        background: var(--cor-loja3);
        padding: 20px;
        z-index: 999;
        transition: left 0.3s ease;

        &.abrir {
            left: 0;
        }

        #fecharMenuMobile {
            display: flex;
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 24px;
            color: var(--cor-texto1);
            cursor: pointer;
        }

        .menu-left {
            margin-top: 60px;

            .info-client img {
                width: 35%;
                margin-bottom: 15px;
            }

            ul li {
                padding: 12px 10px;
                font-size: 16px;

                details .list-deitails span {
                    padding: 8px 8px;
                }
            }
        }
    }

    /* ===== CARRINHO MOBILE ===== */
    #carrinho {
        width: 100%;
        height: 100%;
        right: -100%;
        overflow-y: auto;
        padding: 20px;

        &.aberto {
            right: 0;
        }

        #lista-carrinho p {
            padding: 12px 0;
            font-size: 14px;
        }

        .btn-finalizar {
            padding: 12px;
            font-size: 16px;
        }
    }

    /* ===== HEADER MOBILE ===== */
    header {
        margin: 80px 0px 0px 0px;
        box-shadow: none;
        border-radius: 0px;
        background-color: transparent;

        height: 200px;

        .carrossel-track img {
            height: 200px;
            object-fit: cover;
            /* border-radius: 30px; */
        }

        &::after {
            content: "";
            position: absolute;
            top: 10;
            left: 0;
            width: 100%;
            height: 300px;
            background: none;
            pointer-events: none;
        }
    }

    /* ===== MAIN MOBILE ===== */
    main {
        margin: 0rem 1rem;
        border-radius: 0px;

        background-color: var(--cor-loja3);
        color: var(--cor-texto1);

        .produtos {
            margin: 0px;

            header img {
                height: 200px;
            }

            h1 {
                padding: 10px 0px;
                font-size: 20px;
            }

            .lista-produtos {
                justify-content: start;
                align-items: center;
                gap: 10px;

                margin: 1rem 1.5rem;

                .card {
                    width: 150px;
                    height: 280px;

                    img {
                        min-height: 150px;
                        max-height: 150px;
                    }

                    .btn-comprar {
                        padding: 5px;
                        font-size: 14px;
                    }
                }
            }
        }

        .lojas {
            margin: 0px;

            h2 {
                padding: 20px 0;
                font-size: 18px;
            }

            .lista-lojas {
                justify-content: center;

                .card-loja {
                    width: 150px;
                    margin: 5px;
                    padding: 10px;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 50px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    /* ===== FOOTER MOBILE ===== */
    footer {
        padding: 30px 20px;
        color: var(--cor-texto1);
        background-color: var(--cor-loja4);
        text-align: center;
    }
}