body {

    /* background: var(--cor-fundo10); */

    background: var(--cor-loja3);

    /* background: var(--cor-loja2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#fecharMenuMobile {
    display: none;
}

/* .page section {
    display: none;

    &.active {
        display: block;
    }
} */


button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;

    color: var(--cor-texto1);
    background-color: transparent;

    ul {
        display: flex;

        padding: 20px;
        gap: 40px;
        font-size: 20px;

        list-style: none;

        li {
            cursor: pointer;
        }
    }
}


/* Carrinho */

#fecharCarrinho {
    color: #fff;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 23px;
}

#carrinho {
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 9999;

    width: 350px;
    height: 100vh;

    background-color: var(--cor-loja4);
    /* background: var(--cor-secundaria); */
    color: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

    padding: 20px;
    transition: .4s;

    h2 {
        margin-bottom: 10px;
    }

    &.aberto {
        right: 0;
    }

    #lista-carrinho p {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid var(--cor-btn2);
    }

    #lista-carrinho button {
        background: red;
        color: white;
        border: none;
        padding: 4px 7px;
        cursor: pointer;
    }

    .btn-finalizar {
        background: var(--cor-borda2);
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
        margin-top: 15px;

        &:hover {
            background-color: var(--cor-card);
        }
    }
}



main {

    color: var(--cor-texto1);

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: sticky;
        top: 0;
        padding: 20px;
        z-index: 10;

        background-color: var(--cor-loja4);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;

        &.scrolled {
            background-color: var(--cor-loja4);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
        }

        &.scrolled label {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        span {
            color: var(--cor-texto1);
            font-size: 30px;
            font-weight: 1000;

            span {
                color: var(--cor-fundo2);
            }
        }

        label {
            display: flex;
            align-items: center;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            pointer-events: none;

            width: 600px;
            padding: 12px;
            color: var(--cor-texto2);
            background-color: var(--cor-texto1);
            border: 2px solid transparent;
            border-radius: 20px;

            &:hover {
                box-shadow: rgba(70, 24, 172, 1) 0px 8px 24px;
            }

            &:focus-within {
                border: 2px solid var(--cor-borda2);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                i {
                    color: var(--cor-borda2);
                }
            }

            span {
                color: var(--cor-texto1);
            }

            i {
                cursor: pointer;
            }

            input {
                width: 100%;
                margin: 0px 0px;
                color: var(--cor-texto2);
                border: none;
                outline: none;
                font-size: 15px;
            }

            button {
                border: none;
                background-color: transparent;
                color: var(--cor-texto2);
            }
        }

        .icons-menu {
            display: flex;
            align-items: center;

            .bag-area,
            .menu-mobile {
                position: relative;
                display: inline-block;
                color: var(--cor-texto1);
                font-size: 25px;
                margin: 0px 20px;

                &:hover {
                    cursor: pointer;
                    color: var(--cor-borda);
                }
            }

            button {
                border: 1px solid transparent;
                padding: 10px;
                margin: 0px 5px;
                border-radius: 5px;

            }

            #login {
                color: var(--cor-fundo1);
                background-color: var(--cor-texto1);

                &:hover {
                    background-color: var(--cor-fundo11);
                }
            }

            #register {
                color: var(--cor-texto1);
                background-color: var(--cor-fundo1);

                &:hover {
                    background-color: var(--cor-fundo2);
                }
            }

            img {
                width: 40px;
                border-radius: 50%;

                cursor: pointer;
            }

            .menu-mobile {
                display: none;
            }

            #contadorCarrinho {
                position: absolute;
                top: -8px;
                right: -8px;
                background: red;
                color: white;
                border-radius: 50%;
                padding: 2px 7px;
                font-size: 12px;
                font-weight: bold;

                &.pop {
                    animation: pop .3s ease;
                }
            }
        }
    }

    .home {

        .info-client,
        .produtos,
        .banners {
            margin: 2rem 300px;
        }

        header {
            margin: 0rem 0px 0px 0px;

            width: 100%;
            height: 0px;
            max-height: 800px;
            overflow: hidden;

            .carrossel-track {
                display: flex;
                transition: transform 0.5s ease-in-out;

                img {
                    /* width: 2000px; */
                    width: 100%;
                    /* height: 800px; */
                    object-fit: cover;
                }
            }
        }

        .info-client {

            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 100px;
                height: auto;
                border-radius: 100%;
            }

            h1 {
                margin: 0px 10px;
            }

            label {

                display: flex;
                align-items: center;
                gap: 10px;

                padding: 10px;
                border-radius: 2px;

                font-size: 15px;

                color: var(--cor-fundo1);
                background-color: var(--cor-fundo);
                cursor: pointer;

                &:hover {
                    background-color: var(--cor-fundo10);
                }

                button {
                    color: var(--cor-fundo1);
                    border: none;
                    font-size: 15px;
                    background-color: transparent;
                }
            }
        }

        /* Produtos */

        .produtos {

            .lista-produtos {
                display: flex;
                flex-wrap: wrap;

                gap: 12px;

                .card {
                    width: 250px;
                    height: 400px;

                    padding: 0px;

                    border-radius: 5px;
                    border: 1px solid var(--cor-borda2);

                    background: var(--cor-loja4);
                    color: #fff;

                    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;

                    &:hover {
                        box-shadow: #2069FF 0px 3px 8px;
                        /* scale: 1.01; */
                        z-index: 0;
                    }

                    img {
                        width: 100%;
                        max-width: 100%;
                        min-height: 250px;
                        max-height: 250px;
                        /* border-radius: 10px; */

                        /* border: 1px solid #ccc; */

                        background-color: var(--cor-loja3);
                        object-fit: cover;
                    }

                    .btn-comprar {
                        padding: 10px;
                        margin: 15px;

                        margin-top: 15px;
                        border: none;
                        border-radius: 5px;
                        background: var(--amarelo);
                        color: var(--cor-texto2);
                        font-size: 16px;
                        cursor: pointer;
                    }

                    .btn-comprar:hover {
                        background: var(--amarelo2);
                    }
                }
            }
        }

        /* Banners */

        .banners {

            .banners-div {

                display: flex;
                flex-wrap: wrap;

                margin: 20px 0px;

                img {
                    width: 400px;
                    height: auto;

                    margin: 3px;
                }

                video {
                    width: 400px;
                }
            }
        }
    }

}

footer {
    color: var(--cor-borda);
    background-color: var(--cor-loja4);
    padding: 0rem 300px;
}

/* Animações */

/* animação Carrinho */

@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}